.footer {
  display: flex;
  padding: 90px 30px;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;

  background-color: #141414;
}

@media screen and (max-width: 479px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.container-footer {
  width: 100%;
  max-width: 1200px;
}

@media screen and (max-width: 991px) {
  .container-footer {
    margin-right: 0px;
    margin-left: 0px;
  }
}

.container {
  width: 100%;
  max-width: 1200px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: center;
}

@media screen and (max-width: 991px) {
  .container {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
}

.top-section {
  display: flex;
  align-items: flex-end;
  flex: 1;
}

@media screen and (max-width: 479px) {
  .top-section {
    max-width: none;
    flex-wrap: wrap;
  }
}

.logo.cc-footer {
  margin-right: 15px;
  margin-bottom: 2px;
}

.image-logo {
  margin-top: 0px;
  margin-bottom: 0px;
}

@media screen and (max-width: 991px) {
  .image-logo {
    position: relative;
    z-index: 9999;
  }
}

.footer-small-text {
  color: #666;
  font-size: 10px;
  line-height: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@media screen and (max-width: 479px) {
  .footer-small-text {
    margin-top: 20px;
    line-height: 18px;
  }
}

.separator-footer {
  margin-top: 60px;
  margin-bottom: 60px;
}

.separator-color {
  height: 1px;
  max-width: 1290px;
  background-color: #e6e6e6;
}

.separator-color.footer-line {
  background-color: #4d4d4d;
}

.bottom {
  width: 100%;
}

.bottom-1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-content: flex-start;
  flex: 1;

  text-align: left;
}

@media screen and (max-width: 991px) {
  .bottom-1 {
    flex-direction: row;
    flex-wrap: wrap-reverse;
  }
}

.dropdown {
  display: none;
}

@media screen and (max-width: 767px) {
  .dropdown {
    display: block;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: white;
  }
}

@media screen and (max-width: 767px) {
  .dropdown-toggle {
    display: flex;
    width: 100%;
    height: 48px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    align-items: center;

    color: #999;
    line-height: 24px;
    font-weight: 400;
  }
}

@media screen and (max-width: 767px) {
  .dropdown-toggle:global(.w--open) {
    color: black;
    font-weight: 600;
  }
}

@media screen and (max-width: 767px) {
  .icon {
    margin-top: auto;
    margin-right: 15px;
    margin-bottom: auto;
  }
}

@media screen and (max-width: 767px) {
  .dropdown-list {
    margin-top: 0px;
  }
}

@media screen and (max-width: 767px) {
  .dropdown-list:global(.w--open) {
    margin-top: auto;
  }
}

@media screen and (max-width: 767px) {
  .dropdown-link {
    padding: 15px 20px;
    background-color: white;
    color: black;
    font-weight: 600;
  }
}

.footer-categories {
  width: 75%;
}

@media screen and (max-width: 991px) {
  .footer-categories {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .footer-categories {
    display: none;
  }
}

.footer-title-text {
  color: #666;
  font-size: 10px;
  line-height: 12px;
  font-weight: 600;
  text-align: left;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .footer-title-text {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 479px) {
  .footer-title-text {
    width: 100%;
    margin-top: 20px;
  }
}

.footer-links-container {
  display: flex;
  margin-top: 20px;
  justify-content: flex-start;
}

@media screen and (max-width: 767px) {
  .footer-links-container {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 479px) {
  .footer-links-container {
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
  }
}

.footer-links-container.cc-categories {
  display: block;
}

.collection-list {
  display: flex;
  flex-wrap: wrap;
}

.footer-collection-item {
  width: 25%;
  margin-bottom: 15px;

  color: white;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  text-decoration: none;
}

.footer-newsletter {
  width: 25%;
}

@media screen and (max-width: 991px) {
  .footer-newsletter {
    width: 100%;
    margin-bottom: 35px;
  }
}

@media screen and (max-width: 767px) {
  .footer-newsletter {
    margin-bottom: 15px;
  }
}

.form-block {
  margin-top: 20px;
}

.form {
  display: flex;
  align-items: flex-end;
}

.text-field {
  height: 48px;
  margin-bottom: 0px;
  padding-right: 15px;
  padding-left: 15px;

  color: #999;
  font-size: 14px;
  line-height: 24px;
}

.submit-button {
  width: 100px;
  height: 48px;

  background-color: black;

  color: white;
  font-size: 10px;
  line-height: 12px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.bottom-2 {
  width: 75%;
  margin-top: 40px;
  flex: 1;
}

@media screen and (max-width: 991px) {
  .bottom-2 {
    width: 100%;
  }
}

.footer-links {
  display: flex;
  width: 25%;
  margin-top: 15px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-content: flex-start;
  flex: 0 0 auto;
}

@media screen and (max-width: 767px) {
  .footer-links {
    width: 50%;
    margin-top: 25px;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 479px) {
  .footer-links {
    margin-top: 0px;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

.footer-links-inner {
  display: flex;
  margin-top: 15px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-content: flex-start;
  flex: 0 0 auto;
}

@media screen and (max-width: 767px) {
  .footer-links-inner {
    width: 50%;
    margin-top: auto;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 479px) {
  .footer-links-inner {
    margin-top: 0px;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

.nav-link {
  margin-right: 30px;

  color: black;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  text-decoration: none;
}

.nav-link.white {
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
}

@media screen and (max-width: 479px) {
  .nav-link.white {
    margin-right: 0px;
  }
}