.navigation {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;

  display: flex;
  height: 90px;
  padding-right: 30px;
  padding-left: 30px;
  justify-content: center;
  align-items: center;

  border-bottom: 1px solid #e6e6e6;

  background-color: white;
}

@media screen and (max-width: 991px) {
  .navigation {
    z-index: 999;
    padding-right: 8px;
  }
}

@media screen and (max-width: 767px) {
  .navigation {
    height: 75px;
  }
}

.navigation-container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;
  align-items: center;
}

.logo.cc-footer {
  margin-right: 15px;
  margin-bottom: 2px;
}

.image-logo {
  margin-top: 0px;
  margin-bottom: 0px;
}

@media screen and (max-width: 991px) {
  .image-logo {
    position: relative;
    z-index: 9999;
  }
}

.nav-menu {
  display: flex;
}

@media screen and (max-width: 991px) {
  .nav-menu {
    margin-top: -90px;
    padding-top: 120px;
    padding-bottom: 30px;
    background-color: white;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.25);
  }
}

.navigation-link {
  position: relative;

  height: 90px;
  padding: 34px 20px;
  align-content: space-between;

  color: black;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  text-decoration: none;
}

@media screen and (max-width: 991px) {
  .navigation-link {
    height: 60px;
    padding-right: 30px;
    padding-left: 30px;
    justify-content: flex-end;
    background-color: white;
  }
}

@media screen and (max-width: 767px) {
  .navigation-link {
    display: flex;
  }
}

.navigation-link-text {
  color: black;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  text-decoration: none;
  text-transform: none;
}

@media screen and (max-width: 991px) {
  .navigation-link-text {
    font-size: 18px;
    line-height: 24px;
  }
}

.navigation-hover {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;

  display: block;
  width: 100%;
  height: 4px;
  align-items: flex-end;

  background-color: black;
}

@media screen and (max-width: 991px) {
  .navigation-hover {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .menu-button {
    color: black;
    font-size: 32px;
    font-weight: 400;
  }
}

@media screen and (max-width: 991px) {
  .menu-button:active {
    background-color: #e9e9e9;
  }
}

@media screen and (max-width: 991px) {
  .menu-button:global(.w--open) {
    background-color: white;
  }
}

@media screen and (max-width: 991px) {
  .icon-2 {
    color: black;
  }
}