.team-circles {
  position: relative;
  padding: 80px 30px;
  border-bottom: 1px solid hsla(212.00000000000006, 38.46%, 92.35%, 1.00);
}

@media screen and (max-width: 767px) {
  .team-circles {
    padding: 60px 15px;
  }
}

.container-2 {
  width: 100%;
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 991px) {
  .container-2 {
    max-width: 728px;
  }
}

@media screen and (max-width: 479px) {
  .container-2 {
    max-width: none;
  }
}

.centered-heading {
  margin-bottom: 16px;
  text-align: center;
}

@media screen and (max-width: 479px) {
  .centered-heading {
    margin-bottom: 24px;
  }
}

.centered-subheading {
  max-width: 530px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.team-grid {
  display: grid;
  margin-top: 50px;
  grid-auto-columns: 1fr;
  grid-column-gap: 64px;
  grid-row-gap: 56px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
}

@media screen and (max-width: 991px) {
  .team-grid {
    grid-column-gap: 40px;
  }
}

@media screen and (max-width: 767px) {
  .team-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 479px) {
  .team-grid {
    grid-template-columns: 1fr;
  }
}

.team-card {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 14px;
  line-height: 22px;
  text-align: center;
}

.team-member-image {
  width: 270px;
  height: 270px;
  margin-bottom: 24px;
  border-radius: 50%;
  object-fit: cover;
}

@media screen and (min-width: 1440px) {
  .team-member-image {
    width: 270px;
    height: 270px;
    max-height: none;
  }
}

@media screen and (max-width: 991px) {
  .team-member-image {
    width: 190px;
    height: 190px;
  }
}

.team-member-name {
  margin-bottom: 6px;
  font-size: 20px;
  line-height: 32px;
  font-weight: 500;
}

.team-member-position {
  margin-bottom: 24px;
}

#w-node-_300fc6ba-d26e-9d45-2ef9-ec995ddae609-5ddae602 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_300fc6ba-d26e-9d45-2ef9-ec995ddae614-5ddae602 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_300fc6ba-d26e-9d45-2ef9-ec995ddae61e-5ddae602 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_300fc6ba-d26e-9d45-2ef9-ec995ddae628-5ddae602 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_300fc6ba-d26e-9d45-2ef9-ec995ddae632-5ddae602 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_300fc6ba-d26e-9d45-2ef9-ec995ddae63c-5ddae602 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
@media screen and (min-width: 1440px) {
  #w-node-_300fc6ba-d26e-9d45-2ef9-ec995ddae614-5ddae602 {
    grid-column-start: span 1;
    grid-column-end: span 1;
    grid-row-start: span 1;
    grid-row-end: span 1;
  }
  #w-node-_300fc6ba-d26e-9d45-2ef9-ec995ddae61e-5ddae602 {
    grid-column-start: span 1;
    grid-column-end: span 1;
    grid-row-start: span 1;
    grid-row-end: span 1;
  }
}